:root {
  --main-bg-color: #fff;
  --main-color: #1b1c1b;
  --highlight-info-color:  #f77031;
  --friendly-border-color: #b7bdb7;
  --hatch-secondary-color: #d7d7de;
  --friendly-selected-border-color: #79b37e;
  --friendly-blue: #4f5bc9;
  --friendly-icon: #b4b4b8;
  --friendly-light-grey: #e6e6e6;
  --select-border: #777;
  --select-focus: var(--friendly-blue);
  --select-arrow: var(--select-border);
}


.imp-label-colour-square{
    width:15px;
    height:15px;
    border-radius:2px;
    margin-right:2px;
  }
  
  .db_ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: var(--main-bg-color);
  }
  
  .db_li {
    position: relative;
    padding-left: 15px;
    width: 85%;
    font-size: x-small;
    height:25px;
    line-height: 25px;
    margin-top: 5px;
    margin-left: 2px;
    border-radius: 1.5px;
    cursor: pointer;
    user-select: none;
  }
  .db_li:hover {
    background-color: var(--friendly-light-grey)
  }
  
  .db_li:after {
    position: absolute;
    content: "";
    left: 4px;
    top: 50%;
    margin-top: -10px;
    border-left: 5px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  

.neuroglancer-layer-list-panel-item[data-archived=true] 
.neuroglancer-layer-side-panel-name, 
.neuroglancer-layer-list-panel-item[data-archived=true] .neuroglancer-icon svg {
  color: #56595e !important;
  stroke: #56595e !important;
}


.neuroglancer-layer-list-panel-item[data-archived=true] {
  border-color: var(--friendly-border-color) !important;
}

.neuroglancer-layer-list-panel-item {
  border: none !important;
  border-radius:1.5pt;
  color: white !important;
  min-height:25px;
}

.btn-download{
  font: 10px sans-serif !important;
  border-radius: 2pt;
  margin-top: 2px;
  margin-bottom:2px;
  font-weight: lighter;
  border: 1px solid var(--friendly-selected-border-color)
}
.downloadOptionsPanel {
  width:200px;
  position:absolute;
  top:25px;
  right: 10px;
  z-index:4000;
  background-color: var(--main-bg-color);
}
.neuroglancer-layer-list-panel-item-number{
  display:none !important;
}
.neuroglancer-layer-list-panel-item[data-archived=false] {

  background-color: var(--friendly-selected-border-color);
}

.neuroglancer-layer-list-panel-item[data-archived=false]:hover {
  border-color: var(--friendly-selected-border-color);
  background: var(--main-bg-color); /* Old browsers */
background: -moz-linear-gradient(top, #dddddd 0%, var(--friendly-selected-border-color) 25%, var(--friendly-selected-border-color) 75%, #dddddd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(25%,var(--friendly-selected-border-color) ), color-stop(75%,var(--friendly-selected-border-color) ), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dddddd 0%,var(--friendly-selected-border-color) 25%,var(--friendly-selected-border-color)  75%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dddddd 0%,var(--friendly-selected-border-color)  25%,var(--friendly-selected-border-color)  75%,#dddddd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dddddd 0%,var(--friendly-selected-border-color) 25%,var(--friendly-selected-border-color)  75%,#dddddd 100%); /* IE10+ */
background: linear-gradient(to bottom, #dddddd 0%,var(--friendly-selected-border-color)  25%,var(--friendly-selected-border-color)  75%,#dddddd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
  .neuroglancer-layer-list-panel-item[data-archived=true]:hover {
    border-color: var(--friendly-border-color);
    background: var(--main-bg-color); /* Old browsers */
  background: -moz-linear-gradient(top, #dddddd 0%, #ffffff 25%, #ffffff 75%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(25%,#ffffff), color-stop(75%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
  }
  
  .db_btn {
    height: 20px;
    line-height: 20px;
    margin: 5px;
    border: 1px solid var( --main-bg-color);
    border-radius: 1.5px;
    width: 50px;

    cursor: pointer;
    
    user-select: none;
  }
  .ngDefault {
    background: var( --main-bg-color); /* Old browsers */
    background: -moz-linear-gradient(top, var( --main-bg-color)ccc 0%, #ffffff 25%, #ffffff 75%, var( --main-bg-color)ccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,var( --main-bg-color)ccc), color-stop(25%,#ffffff), color-stop(75%,#ffffff), color-stop(100%,var( --main-bg-color)ccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, var( --main-bg-color)ccc 0%,#ffffff 25%,#ffffff 75%,var( --main-bg-color)ccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, var( --main-bg-color)ccc 0%,#ffffff 25%,#ffffff 75%,var( --main-bg-color)ccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, var( --main-bg-color)ccc 0%,#ffffff 25%,#ffffff 75%,var( --main-bg-color)ccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, var( --main-bg-color)ccc 0%,#ffffff 25%,#ffffff 75%,var( --main-bg-color)ccc 100%); /* W3C */
    
  }
  
  .ngSegmentation {
    background: #afcee0; /* Old browsers */
    background: -moz-linear-gradient(top, #f7d2ef 0%, #f7e1f2 25%, #f7e1f2 75%, #f7d2ef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7d2ef), color-stop(25%,#f7e1f2), color-stop(75%,#f7e1f2), color-stop(100%,#f7d2ef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7d2ef 0%,#f7e1f2 25%,#f7e1f2 75%,#f7d2ef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7d2ef 0%,#f7e1f2 25%,#f7e1f2 75%,#f7d2ef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7d2ef 0%,#f7e1f2 25%,#f7e1f2 75%,#f7d2ef 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f7d2ef 0%,#f7e1f2 25%,#f7e1f2 75%,#f7d2ef 100%); /* W*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7d2ef', endColorstr='#f7d2ef',GradientType=0 ); /* IE6-9 */
  }
  .ngAnnotation {
    background: #afcee0; /* Old browsers */
    background: -moz-linear-gradient(top, #abc9b0 0%, #baccbd 25%, #baccbd 75%, #abc9b0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#baccbd), color-stop(25%,#baccbd), color-stop(75%,#baccbd), color-stop(100%,#abc9b0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #abc9b0 0%,#baccbd 25%,#baccbd 75%,#abc9b0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #abc9b0 0%,#baccbd 25%,#baccbd 75%,#abc9b0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #abc9b0 0%,#baccbd 25%,#baccbd 75%,#abc9b0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #abc9b0 0%,#baccbd 25%,#baccbd 75%,#abc9b0 100%); /* W*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abc9b0', endColorstr='#abc9b0',GradientType=0 ); /* IE6-9 */
  }
  .ngImage {
    background: #afcee0; /* Old browsers */
    background: -moz-linear-gradient(top, #afcee0 0%, #c3d7e3 25%, #c3d7e3 75%, #afcee0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afcee0), color-stop(25%,#c3d7e3), color-stop(75%,#c3d7e3), color-stop(100%,#afcee0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #afcee0 0%,#c3d7e3 25%,#c3d7e3 75%,#afcee0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #afcee0 0%,#c3d7e3 25%,#c3d7e3 75%,#afcee0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #afcee0 0%,#c3d7e3 25%,#c3d7e3 75%,#afcee0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #afcee0 0%,#c3d7e3 25%,#c3d7e3 75%,#afcee0 100%); /* W*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afcee0', endColorstr='#afcee0',GradientType=0 ); /* IE6-9 */
  }
  
  .saveStatePanel, .loadStatePanel {
    background:var( --main-bg-color);
    border: 1px solid var(--friendly-border-color);
    width: 200px;
    position:absolute;
    z-index:4000;
    overflow-y: scroll;
    max-height:80vh;
    margin-top:24px;
    right:0;
    padding-bottom:5px;
    border-radius: 1.5px;
  }
  
  .imp-menu {
    width:230px;
    background:var( --main-bg-color);
    z-index: 1000;
    color:var( --main-color);
    margin-right:10px;
    height: 100vh;
    overflow-y: scroll;
  }
  
html body {
  background: var( --main-bg-color) !important;
  color: var( --main-color) !important;
  font-family: 'Roboto', sans-serif !important;
  font-size:x-small !important;
}  

.neuroglancer-side-panel{
  background-color: var( --main-bg-color) !important
}


.neuroglancer-tab-view-bar {
  background-color: var( --main-bg-color);
  color: var( --main-color);
  height:25px;
}

.neuroglancer-tab-label.neuroglancer-selected-tab-label {
  background-color: var( --main-bg-color);
  color: var(--main-color);

  border: 1px solid var(--friendly-border-color);
  border-bottom: none;
}

.neuroglancer-tab-label{
  border-bottom: 1px solid var(--friendly-border-color);
  background-color: var(--friendly-border-color);
  height:100%;
  line-height:25px;
  margin-right:0px;
  margin-left:-1px;
  padding: 0 4px 0 4px
}

.neuroglancer-checkbox-icon.dark-background[data-checked=true] {
  background-color: var(--friendly-selected-border-color)
}
.neuroglancer-layer-control-container {

  font-family: 'Roboto' sans-serif;
  font-size: small;
}
.neuroglancer-position-dimension-coordinate, .neuroglancer-position-dimension-name, .neuroglancer-position-dimension-scale {
font-size: small;
}

.neuroglancer-layer-list-panel-item-number {
  width: 14px !important;
  border-radius: 1.5pt;
  line-height:8pt;
  font-size:8px;
  margin: auto;
  text-align: center;
}

.neuroglancer-layer-item-label {
  color: var( --main-color);
}

.neuroglancer-layer-item {
  font-size:small !important;
}

.neuroglancer-layer-item-value-container {
  font-size:smaller !important;
}


element.style {
  width: 10ch;
}
.neuroglancer-layer-panel[data-show-hover-values=true] .neuroglancer-layer-item-value{
 
  font-size:smaller !important;
}


.imp-option-label {
  margin-left:5px;
 
}

.neuroglancer-icon {
  background-color: var(--friendly-icon)
}
.neuroglancer-viewer-top-row {
  background: var( --main-bg-color);
  color:var( --main-color) !important;
  height:25px;
  margin-bottom:-1px;
}

.neuroglancer-position-dimension-scale-container[data-is-empty=false]::before,
.neuroglancer-position-dimension-scale-container[data-is-empty=false]::after {
  color: rgb(34, 34, 34);
}

.neuroglancer-position-dimension-scale {
  color: var( --main-color);
}

.neuroglancer-invlerp-widget-bound, 
.neuroglancer-invlerp-widget-range-bound{
  font-size: small;
  font-family: Roboto sans-serif;
}

.neuroglancer-position-dimension-dropdown {
  background-color: var( --main-bg-color);
  color: var( --main-color);
  border-bottom: 1px solid var( --friendly-border-color);
  border-left: 1px solid var(--friendly-border-color);
  border-right:1px solid var( --friendly-border-color);
  border-top:none;
  border-radius: 1.5pt;
}

.neuroglancer-position-dimension[data-dropdown-visible=true] {
  background-color: var( --main-bg-color);
  color:var( --main-color);
  /*border-top: 1px solid var( --friendly-border-color);*/
  border-left: 1px solid var(  --friendly-border-color);
  border-right:1px solid var( --friendly-border-color);
  border-bottom:none;
}

html, body, #neuroglancer-container{
  background-color: var(--main-bg-color) !important;
  font-size: smaller;
  color: var( --main-color) !important;
}

.imp-color-picker-container{
  z-index:1000;
  position:absolute;
}
#imp-color-by-div {
  color: var( --main-color) ;
  align-items: center;
  margin-left:10px;

}

.neuroglancer-help-body {
  margin-left:10px;
  font-size: small;
}

.neuroglancer-position-dimension-coordinate {
  color: var(--main-color);
}

.neuroglancer-position-dimension-name {
  color: var(--highlight-info-color);
  padding-left: 2px;
}



.neuroglancer-side-panel-titlebar {
  background-color: var(--friendly-blue) !important; 
  padding-right: 5px;
  height:25px;
  color: var(--main-bg-color) !important;
}


.neuroglancer-layer-item {
  background-color: var(--main-bg-color) !important;
  color: var(--main-color) !important;
  border-radius:2px;
}



.neuroglancer-layer-panel {
  background-color: var(--main-bg-color) !important;
  margin-left:0 !important; 
  position: absolute !important;
  margin-top:-200px !important; /*hide this panel to reduce clutter*/
}

.neuroglancer-layer-item-label {
  display: inline-block;
  position: relative;
  /*background-color: #222;*/
  padding-right: 3px;
  padding-left:3px;
  height:25px;
  line-height:25px;
  color: var(--main-color);
  background-color: inherit !important;
}

.neuroglancer-show-panel-borders .neuroglancer-panel {
  border-color: var(--main-color) !important;
}

.neuroglancer-panel:focus-within {
  border-color: var(--friendly-border-color) !important;
}
select {
  
  width: 150px;
  padding-left:10px;
  font-size: small;
  border: 1px solid var(--friendly-border-color);
  height: 20px;
  border-radius:1.5px;
  background-color: var(--main-bg-color);

}


.neuroglancer-segment-list-query {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-family: ‘Roboto’ sans-serif;
  font-size: small;
height:25px;
}

.neuroglancer-segment-list-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--main-bg-color);
color: var(--main-color);
height: 25px;
}

.neuroglancer-segment-list-entry {
  display: flex;
  flex-direction: row;
  width: min-content;
  min-width: 100%;
  background-color: var(--main-bg-color);
  align-items: start;
color: var(--main-color);
height:25px;
}

.neuroglancer-annotation-toolbox {
	height:25px;
}

.neuroglancer-annotations-view-dimension-name {
   color:var(--highlight-info-color);


}
.neuroglancer-resize-gutter-horizontal {
  width:8px;
  padding: 0 0 0 0;
  background:repeating-linear-gradient(
  45deg,
  var(--hatch-secondary-color),
  var(--hatch-secondary-color) 10px,
  var(--friendly-border-color)  10px,
  var(--friendly-border-color)  20px
);
  background-color: var(--main-bg-color);
  border-radius: 1.5px;
}

.neuroglancer-display-dimensions-widget{
  font-size:small !important;
}

.draw-btn {
  height:25px !important; 
  width: 25px !important;
  font-size: xx-small !important;
}

.neuroglancer-annotation-list-entry {
  border: 1px solid var(--friendly-border-color);
}
.neuroglancer-annotation-hover {
  border-color: var(--friendly-blue) !important
}

.neuroglancer-annotation-selected {
  border-color:var(--friendly-selected-border-color)
}

.neuroglancer-annotation-hover.neuroglancer-annotation-selected {
  border-color: var(--friendly-selected-border-color)
}

.btn-group {
  border-radius:2pt !important;
}

.neuroglancer-help-scroll-container .dt {
  color: var(--highlight-info-color) !important;
}

.neuroglancer-help-scroll-container h2 {
  background-color: var(--friendly-selected-border-color) !important;
  border-radius: 1px;
}


/*proteomics*/
.proteomics-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-auto-columns: 150px;*/
  border-color: var(--friendly-blue);
  border-radius: 1pt;
  overflow-y: scroll;
  column-gap: 2px;
  height:100%;
  row-gap: 1px;
}

.proteomics-table > div {
  word-wrap: break-word;
  min-width: 0;
  /*width:160px;*/
  background-color: var(--friendly-light-grey);

  padding:3px;
}

#cloned-proteomics-content {
  padding:5px 5px 5px 5px;
  height: 100%;
  background-color: var(--main-bg-color);
  border-radius: 1px;
}

.proteomics-table-head-item{
  border-bottom: 1px solid var(--friendly-blue);
}

.imp-dimInfo {
  position: relative;
  z-index: 50000;
  background-color: var(--friendly-border-color);
  margin-left: calc(50% - 32px);
  opacity: 0.7;
  margin-top: 2px;
  display:grid;
  grid-area: 1 / 1 / auto / auto;
  width: auto;
  max-width: 65px;
}
.imp-dim-header {
  display: grid; 
  grid-template-columns: repeat(2,1fr);
}
.imp-slide-container {
  width:50px;
}

.imp-dimslider {
  width: 50px;
}

.neuroglancer-display-dimensions-widget{
  margin-top: 15px;
}